*{
    margin:0px;
    padding: 0px;
}

ul{
    list-style-type: none;
}

.footerside{
    position:fixed;
    background-color: #092a49;
    bottom:0;
    width: 100%;
    height: 450px;
    color: #fff;
}

.line{
    background-color: rgb(146, 108, 37);
    height: 2px;
    width:135px;
}



.abouts li a{
    font-size: small;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 130px;
    border-radius: 1px;
}

.abouts a:hover{
    /* color: blue; */
    background-color: cadetblue;
}

.about .study {
    float: left;
}

.enroll{
    text-align: center;
    display: inline;
    position:relative;
}

.address{
    float: right;
}



