* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.header-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
}
.logo {
  background-color: gray;
}
.logo img {
  width: 100px;
}
.menu-bar {
  padding: 25px 0;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li a:hover {
  color: tomato;
}

.menu-bar ul li a {
  color: #ddd;
  font-size: 20px;
  padding: 7px 12px;
  transition: 0.3s;
  text-transform: capitalize;
}

.coursesList {
  background: #333;
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba (0, 0, 0, 0.2);
  z-index: 1;
}

.coursesList a {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-bottom: 1px solid teal;
}

.dropdown1:hover .coursesList {
  display: block;
}

/* .dropdown-container {
  position: relative;
  display: inline;
}
.dropdown-content {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: teal;
  text-align: left;
  display: none;
} */
.dropdown-content a {
  display: block;
}
.dropdown-content a:hover {
  background-color: gray;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

/* Slider-Area CSS*/
.single-slide img {
  width: 100%;
}

/* Box-Button CSS*/
.box-button {
  text-transform: capitalize;
  color: blue;
  background-color: #ddd;
  padding: 12px 25px;
}
.box-button:hover {
  color: red;
  background-color: aqua;
}
/* Slider-area */

/* Services-Area CSS*/
.services-area {
  display: flex;
  justify-content: space-evenly;
}

/* Footer-Top-Area CSS*/
.footer-top-area {
  margin-top: 15px;
  background-color: #333;
  padding: 20px 30px;
  text-align: center;
}
.footer-top-area h2 {
  font-size: 25px;
  margin-bottom: 5px;
  color: #fff;
}
.footer-top-area p {
  font-size: 17px;
  margin-bottom: 5px;
  color: #fff;
}

/* Footer-Area CSS*/
.footer-area {
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: #ddd;
}
